h1 {
    text-align: center;
}

h4 {
    text-align: center;
    padding-top: 20px;
}


#passwordresult {
    border-style: dashed;
}

.form {
    text-align: center;
    padding-top: 60px;
    
}






